


/*-----------------------------------*\
  #для великих мобільних
\*-----------------------------------*/
@media (min-width: 450px) {

  /**
   * КОРИСТУВАЧІВСЬКІ ВЛАСТИВОСТІ 
   */

  :root {

    /**
     * типографіка 
     */

    --fs-1: 54px; /* Розмір шрифту 1 */
    --fs-2: 36px; /* Розмір шрифту 2 */
    --fs-3: 20px; /* Розмір шрифту 3 */

  }



  /**
   * ГОЛОВНА 
   */

  .home-text {
    max-width: 320px; /* Максимальна ширина тексту головної секції */
    margin-inline: auto; /* Автоматичне вирівнювання по горизонталі */
  }

  .home .btn-group {
    flex-direction:  row; /* Розташування кнопок у рядок */
    justify-content: center; /* Центрування кнопок */
  }

  .dialog-1 { top: 15%; } /* Відступ від верху для діалогу 1 */

  .dialog-2 { right: 15%; } /* Відступ справа для діалогу 2 */

  .shape-1 {
    top:  10%; /* Відступ від верху для форми 1 */
    left: 15%; /* Відступ зліва для форми 1 */
  }

}


/*-----------------------------------*\
  #для планшетів
\*-----------------------------------*/
@media (min-width: 570px) {

  /**
   * КОРИСТУВАЧІВСЬКІ ВЛАСТИВОСТІ 
   */

  :root {

    /**
     * відступи 
     */

    --mw: 550px; /* Максимальна ширина контейнера */

  }



  /**
   * ЗАГОЛОВОК, ГОЛОВНА, ПРО НАС, СЕРВІСИ, ПРОДУКТИ, ВІДГУКИ, ФУТЕР
   */

  .navbar-wrapper,
  .home,
  .about,
  .services,
  .product,
  .testimonials,
  .footer-wrapper {
    max-width: var(--mw); /* Встановлення максимальної ширини */
    margin-inline: auto; /* Центрування контейнера */
  }

}


/*-----------------------------------*\
  #для великих планшетів
\*-----------------------------------*/
@media (min-width: 768px) {

  /**
   * КОРИСТУВАЧІВСЬКІ ВЛАСТИВОСТІ 
   */

  :root {

    /**
     * типографіка 
     */

    --fs-1: 72px; /* Розмір шрифту 1 */
    --fs-2: 40px; /* Розмір шрифту 2 */
    --fs-3: 22px; /* Розмір шрифту 3 */

    /**
     * відступи 
     */

    --mw: 720px; /* Максимальна ширина контейнера */

  }



  /**
   * ПОВТОРНО ВИКОРИСТОВУВАНІ СТИЛІ
   */

  .section-title { max-width: 460px; } /* Максимальна ширина заголовка секції */



  /**
   * ЗАГОЛОВОК 
   */

  .cart-item .product-price { font-size: 18px; } /* Розмір шрифту ціни товару в кошику */



  /**
   * ГОЛОВНА 
   */

  .shape-1 { top: 27%; } /* Відступ від верху для форми 1 */

  .shape-3 {
    left: 50%; /* Відступ зліва для форми 3 */
    width: 50px; /* Ширина форми 3 */
  }

  .shape-4 {
    top: 35%; /* Відступ від верху для форми 4 */
    width: 100px; /* Ширина форми 4 */
  }



  /**
   * ПРО НАС 
   */

  .about-left .img-box { aspect-ratio: 5 / 3; } /* Співвідношення сторін для зображення про нас */



  /**
   * СЕРВІСИ 
   */

  .service-card { display: grid; } /* Встановлення grid-контейнера для картки сервісу */

  .service-card .card-number {
    grid-row: 1 / 3; /* Розташування номера сервісу у рядках 1-3 */
    line-height: 1; /* Висота рядка */
    margin-right: 30px; /* Відступ справа */
  }

  .service-card .card-heading { grid-column: 2 / 3; } /* Розташування заголовка сервісу у колонці 2-3 */



  /**
   * ПРОДУКТИ 
   */

  .products-grid {
    grid-template-columns: 1fr 1fr; /* Двоколоночний макет для продуктів */
    gap: 60px 40px; /* Відстань між елементами */
    margin-bottom: 70px; /* Нижній відступ */
  }



  /**
   * ВІДГУКИ 
   */

  .testimonials-grid { grid-template-columns: 1fr 1fr; } /* Двоколоночний макет для відгуків */

}


/*-----------------------------------*\
  #для десктопів
\*-----------------------------------*/
@media (min-width: 1024px) {

  /**
   * КОРИСТУВАЧІВСЬКІ ВЛАСТИВОСТІ 
   */

  :root {

    /**
     * відступи 
     */

    --py: 100px; /* Вертикальний відступ */
    --mw: 950px; /* Максимальна ширина контейнера */

  }



  /**
   * ЗАГОЛОВОК 
   */

  .navbar { padding: 35px 30px; } /* Внутрішні відступи для навігаційної панелі */

  .navbar-nav {
    position: static; /* Статичне позиціонування навігаційних посилань */
    opacity: 1; /* Повна непрозорість */
    visibility: visible; /* Видимість */
    width:  auto; /* Автоматична ширина */
    height: auto; /* Автоматична висота */
    transform: translateY(0); /* Без зсуву */
    padding: 0; /* Внутрішні відступи */
    flex-direction: row; /* Розташування посилань у рядок */
    gap: 50px; /* Відстань між посиланнями */
    pointer-events: all; /* Включення подій */
  }

  .menu-toggle-btn { display: none; } /* Приховати кнопку перемикача меню */

  .cart-box {
    max-width: 450px; /* Максимальна ширина кошика */
    height: calc(100vh - 121px); /* Висота кошика з урахуванням навігаційної панелі */
  }

  .cart-box-ul {
    padding: 60px; /* Внутрішні відступи */
    padding-bottom: 150px; /* Додатковий відступ знизу */
  }

  .cart-btn-group { padding: 30px 60px; } /* Внутрішні відступи для групи кнопок кошика */



  /**
   * ГОЛОВНА 
   */

  .home {
    grid-template-columns: 1fr 1fr; /* Двоколоночний макет для головної секції */
    align-items: center; /* Вертикальне вирівнювання елементів */
  }

  .home-left { text-align: left; } /* Вирівнювання тексту в лівій частині по лівому краю */

  .home-text { margin-inline: 0; } /* Відсутність горизонтальних відступів для тексту головної секції */

  .home .btn-group { justify-content: start; } /* Вирівнювання кнопок групи по початку */

  .dialog-1, .dialog-2 { width: 260px; } /* Ширина для діалогів 1 та 2 */



  /**
   * ПРО НАС 
   */

  .about {
    grid-template-columns: 3fr 4fr; /* Макет секції "Про нас" з трьома та чотирма фракціями */
    gap: 80px; /* Відстань між елементами */
    align-items: center; /* Вертикальне вирівнювання елементів */
    padding: var(--py) var(--px) 120px; /* Внутрішні відступи */
  }

  .about-left .img-box { aspect-ratio: auto; } /* Автоматичне співвідношення сторін для зображення про нас */

  .shape-7 {
    top:   80%; /* Відступ від верху для форми 7 */
    left: -25px; /* Відступ зліва для форми 7 */
    width: 50px; /* Ширина форми 7 */
  }

  .shape-9 {
    bottom: -40px; /* Відступ знизу для форми 9 */
    left:    15%; /* Відступ зліва для форми 9 */
    width: 100px; /* Ширина форми 9 */
  }



  /**
   * СЕРВІСИ 
   */

  .services {
    grid-template-columns: 1fr 1fr; /* Двоколоночний макет для сервісів */
    gap: 60px 30px; /* Відстань між елементами */
  }



  /**
   * ПРОДУКТИ 
   */

  .products-grid { grid-template-columns: repeat(3, 1fr); } /* Три елементи в рядок для продуктів */



  /**
   * ВІДГУКИ 
   */

  .testimonials { padding-bottom: 200px; } /* Додатковий відступ знизу для секції відгуків */



  /**
   * ФУТЕР 
   */

  .footer-wrapper {
    flex-direction: row; /* Розташування елементів футера у рядок */
    justify-content: space-between; /* Розподіл елементів футера */
  }

}


/*-----------------------------------*\
  #для великих десктопів
\*-----------------------------------*/
@media (min-width: 1200px) {

  /**
   * КОРИСТУВАЧІВСЬКІ ВЛАСТИВОСТІ 
   */

  :root {

    /**
     * відступи 
     */

    --mw: 1150px; /* Максимальна ширина контейнера */

  }



  /**
   * СЕРВІСИ 
   */

  .services { grid-template-columns: repeat(3, 1fr); } /* Три елементи в рядок для сервісів */

}
